* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}





.logo {
    font-size: 25px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

}

.navbar {


    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.navchildrens {
    width: 100%;
    min-height: 80px;
    padding: 0 100px;
    display: flex;
    align-items: center;

}

.nav-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 100px;
}


.nav-link {
    transition: 0.7s ease;
    text-transform: uppercase;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transition: all 0.3s ease-in-out;
}


/* hero section styling start */

.hero{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}







/* footer section styling start */

#footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;


}
#footer > .logo{
    color: white;
    /* font-size: 30px; */
}
.footermenu > ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.footermenu ul > li > a {
    
    text-transform: uppercase;
    color: white;
}
















/* responsiveness */
@media screen and (max-width: 960px) {

    /* header */
    .navchildrens {
        justify-content: space-between;
        background-color: white;

    }

    .hamburger {
        display: block;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        background-color: white;
        position: absolute;
        top: -400px;
        flex-direction: column;
        padding: 30px;
        left: 0;
        right: 0;
        z-index: -1;
        transition: all 1s;
    }

    .nav-menu.active {

        top: 80px;
    }



    
}

