
#hero {
    height: 400px;
    background-image: url(../assets/common-banner.png);
    background-position: right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    color: white;
   
}

#hero > h1{
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 800;
}


#hero > div > a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 20px;

}


.container2{
    padding: 0px 200px;
}


/* portfolio-detail page styling */


.detailimg > img{
    width: 100%;
}




.detailcontent{
    margin-top: 50px;
    display: flex;
    width: 100%;
    gap: 30px;
}

.detailtext{
    width: 60%;
}
.detailinfo{
    width: 40%;
    }

.detailcard{
    background: #f8faff;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.leftdata{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    
}

.rightdata{
    color: gray;
}


/* blog page styling start */
.blog{
    margin-top: 50px;
    display: flex;
    width: 100%;
    gap: 30px;
    background-color: white;
}
.blog-detail{
    margin-top: 50px;
    display: flex;
    width: 100%;
    gap: 30px;
}

.blogleftside{
width: 60%;

}

.post{
    margin-bottom: 50px;
    border: 0.3px solid gainsboro;
}

.blogrightside{
    width: 40%;
}




.blog-item-img{
    position: relative;
    width: 100%;
}
.blog-item-img > img{
    width: 100%;
}

.blog-item-date{
    bottom: -10px;
    position: absolute;
    left: 10px;
    color: #fff;
    background: #1345e6;
    padding: 8px 35px;
    border-radius: 5px;
}

.leftblogtext{
    padding: 30px;
}
.blogcard{
    background: #f8faff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 30px;
}

.carditem{
    border-bottom: 0.5px solid gainsboro;
    padding-bottom: 10px;
    margin-top: 20px;
}

.recentpostitem{
    display: flex;
    border-bottom: 0.5px solid gainsboro;
    padding-bottom: 10px;
    margin-top: 20px;
   
}
.postimg{
    width: 80px;
    height: 80px;
    background-image: url(../assets/b1.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 30px;
}
/* blog page styling end */

/* contact page styling start */

.map{
    margin-top: 100px;
}
.map > img{
    width: 100%;
}

.posticon > .fa-solid{
    font-size: 50px;
    width: 100px;
}
/* contact page styling end */


@media screen and (max-width: 1207px) {
    
    

    .blogleftside{
        width: 60%;
    }

    .blogrightside{
       width: 30%;
    }
    
    
            
    }

@media screen and (max-width: 1100px) {
    .detailtext{
        width: 40%;
    }
    .detailinfo{
        width: 60%;
        }

        
}


@media screen and (max-width: 993px) {
    .blog-detail{
        flex-direction: column;
    }
    .blogleftside{
        width: 100%;
    }

    .blogrightside{
       width: 100%;
    }
}


@media screen and (max-width: 960px) {
    #hero{
        position: relative;
        top: 10px;
    }
}



@media screen and (max-width: 770px) {
    .container2{
        padding: 0px 50px;
    }
    #hero > h1{
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 800;
    }
    #hero > div > a{
        color: white;
        font-size: 10px;
        text-transform: uppercase;
        padding: 0px 5px;
    
    }
    .fa-solid{
        font-size: 10px;
    }
    .detailcontent{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .detailtext{
        width: 100%;

    }
    .detailinfo{
        width: 100%;
        }
    
}


